.trainerProImg{
    object-fit: cover;

}

.trainerheroouter{
    
    background-image: url('../../assets/images/trainersCover.jpg');
    color: orangered;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}